@font-face {
	font-family:'HeydingsIcons-Regular';
	src: url('../font/HeydingsIcons_gdi.eot');
	src: url('../font/HeydingsIcons_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/HeydingsIcons_gdi.woff') format('woff'),
		url('../font/HeydingsIcons_gdi.ttf') format('truetype'),
		url('../font/HeydingsIcons_gdi.otf') format('opentype'),
		url('../font/HeydingsIcons_gdi.svg#HeydingsIcons-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Oxygen-Bold';
	src: url('../font/Oxygen-Bold_gdi.eot');
	src: url('../font/Oxygen-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/Oxygen-Bold_gdi.woff') format('woff'),
		url('../font/Oxygen-Bold_gdi.ttf') format('truetype'),
		url('../font/Oxygen-Bold_gdi.otf') format('opentype'),
		url('../font/Oxygen-Bold_gdi.svg#Oxygen-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Oxygen-Light';
	src: url('../font/Oxygen-Light_gdi.eot');
	src: url('../font/Oxygen-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/Oxygen-Light_gdi.woff') format('woff'),
		url('../font/Oxygen-Light_gdi.ttf') format('truetype'),
		url('../font/Oxygen-Light_gdi.otf') format('opentype'),
		url('../font/Oxygen-Light_gdi.svg#Oxygen-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'Oxygen-Regular';
	src: url('../font/Oxygen-Regular_gdi.eot');
	src: url('../font/Oxygen-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/Oxygen-Regular_gdi.woff') format('woff'),
		url('../font/Oxygen-Regular_gdi.ttf') format('truetype'),
		url('../font/Oxygen-Regular_gdi.otf') format('opentype'),
		url('../font/Oxygen-Regular_gdi.svg#Oxygen-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'DenneEtude-Regular';
	src: url('../font/DenneEtude_gdi.eot');
	src: url('../font/DenneEtude_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/DenneEtude_gdi.woff') format('woff'),
		url('../font/DenneEtude_gdi.ttf') format('truetype'),
		url('../font/DenneEtude_gdi.otf') format('opentype'),
		url('../font/DenneEtude_gdi.svg#DenneEtude-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}


html{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

body{
    padding-top: 120px;
    margin: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    background-color: #e8641b;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    position: absolute;
    top: 0px;
    position: fixed;
}

.div-logo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Oxygen-Light";
    margin-left: 20px;
    justify-content: space-around;
}

.div-logo a{
    margin-top: 11px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    font-family: "Oxygen-Light";
    font-size: 18px;
    margin-right: 12%;
}

.search{
    margin-top: 30px;
}

.search form{
    float: left;
}

.userpanel{
    float: left;
}

.userpanel a{
    text-decoration: none;
    color: white;
}

.userpanel a span{
    font-family: 'HeydingsIcons-Regular';
    font-size: 30px;
}

#form-buscar input[type="search"]{
    border-radius: 20px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-right: 15px;
    border: none;
}

.links{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: auto;
    margin-left: 15px;
}

.links div{
    margin-left:40px;
}

.links div a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.2s ease 0s;
}

.links div a:hover{
    transition: all 0.2s ease 0s;
    color: #ac5423;
}

.links div a span{
    font-family: 'HeydingsIcons-Regular';
    font-size: 30px;
    margin-right: 10px;
}

#busqueda{
    background-image: url("../img/lupaicon.png");
    background-position: 10px 2px;
    background-repeat: no-repeat;
    text-indent: 36px;
}


.contenedor-main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.manageinfo{
    background-color: #a7a7a7;
    width: 300px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
}

.manageinfo2{
    display: none;
    background-color: #a7a7a7;
    width: 300px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
}

.post-body{
    background-color: #d6d6d6;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    width: 88%;
    margin-left: 8%;
}

.archivos-box{
    background-color: #d6d6d6;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-top: 1px;
    display: flex;
    width: 88%;
    margin-left: 8%;
}

.div-notificaciones{
    background-color: #818181;
    min-height: 795px;
    min-width: 100px;
    padding: 20px;
    font-family: "Oxygen-Light";
    color: #454342;
    overflow: auto;
    width: 200px;
}
.atras{
    background-image: url(../img/atras.png);
    height: 32px;
    width: 18px;
    background-color: transparent;
    border:none;
    cursor:pointer;
    float:left;
    transition: all 0.2s ease 0s;
}
.atras:hover{
    background-image: url(../img/atrashover.png);
}
.botonesnotificaciones{
    height: 32px;
}
.adelante{
    background-image: url(../img/adelante.png);
    height: 32px;
    width: 18px;
    background-color: transparent;
    border:none;
    cursor:pointer;
    float:right;
    transition: all 0.2s ease 0s;
}
.adelante:hover{
    background-image: url(../img/adelantehover.png);
}
.notificaciones-list{
    background-color: #818181;
    min-height: 100%;
    min-width: 100px;
    padding: 20px;
    font-family: "Oxygen-Light";
    color: #454342;
    overflow: auto;
    width: 100%;
    overflow: scroll;
    height: 250px;
}
.borrar{
    color: white;
    margin: auto;
    background-color: #e8641b;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 32px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 0.2s ease 0s;
}
.borrar:hover{
    transition: all 0.2s ease 0s;
    cursor: pointer;
    background-color: #fc9055;
    color: #666666;
}
.fotoprincipal{
    margin: auto;
    margin-top: 20px;
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
}

.usuario-nombre{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: "Oxygen-Regular";
}

.userinfo{
    display: flex;
    margin: auto;
    margin-right: -10px;
    margin-top: 20px;
    width: 60%;
    font-family: "Oxygen-Regular";
}

.userinfo a{
    text-decoration: none;
    color: #000;
}

.userinfo a:hover{
    color: #e8641b;
}

.links-top{
    margin: auto;
    display: flex;
    width: 200px;
    flex-direction: column; 
}

.misposts span{
    padding-left: 10px;
    color: #444444;
    transition: all 0.15s ease 0s;
}

.misposts span:hover{
    color: white;
}

.misposts{
    margin: auto;
    margin-bottom: 10px;
}

.misposts img{
    margin-right: 10px;
}

.misseguidores span{
    padding-left: 10px;
    color: #444444;
    transition: all 0.15s ease 0s;
}

.misseguidores span:hover{
    color: white;
}
.siguiendo img{
    color: #444444;
    margin-right: 10px;
    transition: all 0.15s ease 0s;
}

.siguiendo span:hover{
    color: white;
}

.misseguidores{
    margin-bottom: 5px;
}

.gusta{
    display:flex;
    line-height: 50px;
    margin-top: 20px;
}
.gusta a{
    margin-left:5px;
}
.posttitle{
    color: white;
    font-family: "Oxygen-Bold";
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.postbox form{
    display: flex;
    flex-direction: column;
}

.postbox form input{
    display: flex;
    font-family: "Oxygen-Light";
    margin: auto;
}

.enviar{
    color: white;
    margin: auto;
    background-color: #e8641b;
    width: 85%;
    border-radius: 10px;
    border: none;
    height: 32px;
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 0.2s ease 0s;
}

.enviar:hover{
    transition: all 0.2s ease 0s;
    cursor: pointer;
    background-color: #fc9055;
    color: #666666;
}

.seguir{
    color: white;
    margin: auto;
    background-color: #e8641b;
    width: 85%;
    border-radius: 10px;
    border: none;
    height: 42px;
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    transition: all 0.2s ease 0s;
}

.seguir:hover{
    transition: all 0.2s ease 0s;
    cursor: pointer;
    background-color: #fc9055;
    color: #666666;
}

.seguir a{
    text-decoration: none;
    color: white;
}

.postbox{
    height: 100%;
}

.postbox form textarea{
    margin: auto;
    display: flex;
    width: 80%;
    height: 254px;
    font-family: "Oxygen-Light";
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    font-size: 15px;
}

.agregararchivos{
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin: auto;
    width: 83.8%;
    font-family: "Oxygen-Light";
    height: 25px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    background-color: #dcdcdc;
    color: #444444;
    transition: all 0.1s ease 0s;
}

.agregararchivos:hover{
    transition: all 0.1s ease 0s;
    background-color: #666666;
    color: #dcdcdc;
}

#archivos{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/***************** Menú desplegable ****************/

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color: white;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:32px;
	padding:0 15px;
	font-family:"Oxygen-Light";
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
    font-family: 'HeydingsIcons-Regular';
}

#primary_nav_wrap ul li:hover
{
	background: gray;
    color: white;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

    #primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: gray;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display: block;
    transition: all 0.3s ease 0s;
}

#primar_nav_wrap ul ul li a:hover{
    color: white;
    transition: all 0.3s ease 0s;
}

#primary_nav_wrap ul li ul li a:hover{
    color: white;
    transition: all 0.3s ease 0s;
}

#primary_nav_wrap ul li a:hover{
    background-color: #b4b4b4;
    transition: all 0.3s ease 0s;
}

#primary_nav_wrap ul li ul li a span{
    margin-right: 15px;
}

/*********    Sección principal   ***********/


section{
    display: flex;
    padding: 20px;
    width: 70%;
    flex-direction: column;
    font-family: "Oxygen-Light";
    overflow: hidden;
    margin-left: 300px;
}

.siguiendo2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    line-height: 30px;
    max-width: 1300px;
}

.misseguidores img{
    margin-right: 10px;
}

.siguiendo-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.siguiendo-div a{
    text-decoration: none; 
    color: #e8641b;
}

.siguiendo-div a:hover{
    text-decoration: underline;
}

.titulo-estandar{
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 30px;
    font-family: "Oxygen-Bold";
    color: #3a3a3a;
}

.div-usuario{
    background: #DDDDDD;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    min-width: 240px;
}

.div-cargar{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.boton-cargar{
    display: flex;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    height: 35px;
    background: #e8641b;
    font-size: 16px;
    font-family: "Oxygen-Light";
    color: white;
    transition: all 0.1s ease 0s;
    padding-left: 58px;
    border-radius: 10px;
    border: none;
}

.boton-cargar:hover{
    transition: all 0.1s ease 0s;
    cursor: pointer;
    background-color: #fc9055;
    color: #3a3a3a;
}

.post{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.post a{
    width: 0px;
}
.bloq-sup-post{
    display: flex;
    margin-bottom: 20px;
}


.div-foto{
    width: 95px;
    height: 95px;
    border-radius: 100px;
    overflow: hidden;
}

.div-foto img{
    width: 150px;
}

.nombre-poster{
    text-align: center;
    line-height: 90px;
    margin-left: 30px;
}
.nombre-poster a{
    color: #000;
    text-decoration: none;
}
.nombre-poster a:hover{
    text-decoration: underline;
    color: #e8641b;
}
.bloq-inf-post{
    display: flex;
    flex-direction: column;
}

.archivo{
    margin-right: 30px;
}

.fecha-post{
    margin-bottom: 25px;
}
.fecha-post a{
    color: #000;
    text-decoration: none;
}
.fecha-post a:hover{
    text-decoration: underline;
    color: #e8641b;
}
.mensaje-post{
    margin-bottom: 10px;
}

.boton{
    width: 200px;
    height: 40px;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    background-color: #e8641b;
    font-family: "Oxygen-Regular";
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}

.boton:hover{
    transition: all 0.2s ease 0s;
    cursor: pointer;
    background-color: #fc9055;
    color: #3a3a3a;
}

.foto-not{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.foto-not img{
    width: 80px;
    overflow: hidden;
}

.notificacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.notificacion a{
    text-decoration: none;
    color: #000;
}

.texto-not{
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    padding: 10px;
    padding-top: 10px;
    margin-top: 30px;
    width: 80%;
    margin-left: 15px;
    margin-top: -10px;
}

.texto-not span{
    margin-right: 8px;
}

.nav-mobile {
  display:none;
  cursor:pointer;
  position:absolute;
  top:0;
  right:0;
  background: url(../img/nav.svg) no-repeat center center;
  height:40px;
  width:40px;
  margin-right: 5px;
  margin-top: 20px;
}

.linksm{
    display: none;
}

.searchm{
    display: none;
}

.notificaciones-list{
    display: none;
}

.asideusuario{
    display: none;
}


/************* panel de usuario ********************/

.div-registro{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}


.titulouser{
    font-family: "Oxygen-Bold";
    width: 100%;
    font-size: 25px;
    text-align: center;
    background-color: white;
    color: #444444;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.registro{
    width: 89%;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.form-registro{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

#form-entrar{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.campo{
    display: flex;
    height: 35px;
    border: none;
    color: #444444;
    padding-left: 15px;
    font-family: "Oxygen-Light";
    width: 100%;
    margin: auto;
    margin-top: 25px;
    padding: 0px;
}
.campo input{
    height: 35px;
    border: none;
    color: white;
    padding-left: 15px;
    font-family: "Oxygen-Light";
    width: 100%;
    margin: auto;
    margin-top: 25px;
    padding: 0px;
}

.campo input:hover{
    background-color: gray;
}

.campo label{
    width: 40%;
}

#form-entrar input{
    height: 35px;
    border: none;
    color: white;
    padding-left: 15px;
    font-family: "Oxygen-Light";
    width: 100%;
    margin: auto;
    background-color: #444444;
}

.form-registro input{
    height: 35px;
    border: none;
    color: white;
    padding-left: 15px;
    font-family: "Oxygen-Light";
    width: 100%;
    margin: auto;
    background-color: #3d3d3d;
}

.form-registro input[type="submit"]{
    color: white;
    background-color: #444444;
    width: 40%;
    border-radius: 10px;
    height: 40px;
    font-size: 19px;
    padding: 0;
    padding-bottom: 3px;
    margin-bottom: 20px;
    transition: all 0.2s ease 0s;
}

#form-entrar input[type="submit"]{
    color: white;
    font-size: 20px;
    background-color: #e8641b;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    padding: 0;
    margin-top: 20px;
    transition: all 0.2s ease 0s;
}

#form-entrar input[type="submit"]:hover{
    background-color: #ffb48a;
    color: #555555;
    transition: all 0.2s ease 0s;
}

.form-registro input[type="submit"]:hover{
    background-color: #ffb48a;
    color: #555555;
    transition: all 0.2s ease 0s;
}

.form-registro input[type="submit"]{
    color: white;
    margin: auto;
    background-color: #e8641b;
    width: 60%;
    border-radius: 10px;
    height: 40px;
    font-size: 19px;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Oxygen-Light";
    border: none;
    margin-top: 20px;
    transition: all 0.2s ease 0s;
}

.form-registro input[type="submit"]:hover{
    background-color: #ffb48a;
    color: #555555;
    transition: all 0.2s ease 0s;
}

#password{
    background-image: url(../img/keyicon.png);
    background-repeat: no-repeat;
    background-position: 15px 6px;
    text-indent: 28px;
}

#password2{
    background-image: url(../img/keyicon.png);
    background-repeat: no-repeat;
    background-position: 15px 6px;
    text-indent: 28px;
}

#repeat{
    background-image: url(../img/keyicon.png);
    background-repeat: no-repeat;
    background-position: 15px 6px;
    text-indent: 28px;
}

#nombre{
    background-image: url(../img/tagicon.png);
    background-repeat: no-repeat;
    background-position: 13px 8px;
    text-indent: 28px;
}

#apellidos{
    background-image: url(../img/tagicon.png);
    background-repeat: no-repeat;
    background-position: 13px 8px;
    text-indent: 28px;
}

#correo{
    background-image: url(../img/aticon.png);
    background-repeat: no-repeat;
    background-position: 11px 8px;
    text-indent: 26px;
}

.form-registro ::-webkit-input-placeholder{
    color: white;
    opacity:  0.7;
}
.form-registro :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  0.7;
}
.form-registro ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  0.7;
}
.form-registro :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: white;
    opacity:  0.7;
}

#form-entrar ::-webkit-input-placeholder{
    color: white;
    opacity:  0.7;
}
#form-entrar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  0.7;
}
#form-entrar ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  0.7;
}
#form-entrar :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: white;
    opacity:  0.7;
}

.contenedor-panelusuario{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.panel-body{
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.titulofoto{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -10px;
    font-family: "Oxygen-Regular";
}

.agregarfoto{
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    font-family: "Oxygen-Light";
    height: 25px;
    background-color: #444444;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    background-color: #3d3d3d;
    color: white;
    transition: all 0.1s ease 0s;
}

.agregarfoto:hover{
    transition: all 0.1s ease 0s;
    background-color: #999999;
    color: #3d3d3d;
}

.div-seguir{
    display: flex;
    margin: auto;
}

.div-megusta{
    margin-top: 30px;
}

.borrarpost{
    max-width: 120px;
    height: 40px;
    margin-left: 40px;
    transition: all 0.2s ease 0s;
}

.borrarpost:hover{
    content: url("../img/close-circledh.png");
    transition: all 0.2s ease 0s;
}

/***** media-queries *****/

@media (max-width: 1700px){
    
    section{
        margin-left: 250px;
    }
    
    .fotoprincipal{
     width: 180px;
     height: 180px;
     
    }
    .fotoprincipal img{
        width: 300px;
        height: 200px;
    }
    .manageinfo{
      width: 250px;
    }
    .manageinfo2{
      width: 250px;
    }
    .userinfo{
        width: 90%;
        margin-top: 10px;
        margin-right: -55px;
    }
    .misposts{
        font-size: 14px;
    }
    .misseguidores{
        font-size: 14px;
    }
    .siguiendo{
        font-size: 14px; 
    }
    
    .usuario-nombre{
        font-size: 18px;
    }
    
    .posttitle{
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 10px
    }
    
    .postbox form textarea{
        height: 190px;
    }
    
    .div-foto{
        width: 75px;
        height: 75px;
    }
    
    .div-foto img{
        width: 115px;
    }
    
    .nombre-poster{
        line-height: 70px;
        font-size: 14px;
    }
    
    .post-body{
        font-size: 14px;
    }
    
    .texto-not{
        font-size: 14px;
    }
    
    
}

@media (max-width: 1192px){
    
    .contenedor-main{
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: row;
    }
    
    .fotoprincipal{
        margin-top: 10px;
    }
    
    .div-notificaciones{
        margin-top: -15px;
    }
    
    .usuario-nombre{
        margin-top: 7px
    }
    
    .div-logo a img{
        content: url(../img/logoprincipalp2.png)
    }
    
    header{
        height: 105px;
    }
    
    .links div a{
        font-size: 14px;
    }
    .links div a span{
        font-size: 22px
    }
    
    .manageinfo{
        margin-top: -15px;
    }
    
    .manageinfo2{
        margin-top: -15px;
    }
    
    .texto-not{
        font-size: 12px;
    }
    
    .search{
        margin-top: 20px;
    }
    
    section{
        margin-top: -15px;
    }
}

@media (max-width: 1091px){
    
    .titulo-estandar{
        font-size: 25px;
    }
    
    .borrarpost{
        margin-left: 5px;
    }
    
    .contenedor-main{
        flex-direction: column;
        width: 100%;
    }
    
    .div-seguir{
        margin-top: -10px;
        width: 250px;
    }
    
    .links div a{
        margin-right: 10px;
    }
    
    .userpanel ul li a span{
        font-size: 25px;
    }
        
    #form-buscar input[type="search"]{
        width: 200px;
        height: 25px;
        background-position: 10px;
    }
    
    .nav-mobile {
        display:block;
    }
    .search{
        display: none;
    }
    .links{
        display: none;
    }
    
    .div-logo a{
        margin-top: 13px;
        height: 60px;
    }
    
    .div-logo a img{
        content: url(../img/logoprincipalmobile.png);
    }
    
    header{
        height: 80px;
    }
    .div-notificaciones{
        display: none;
    }
    
    .manageinfo{
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -40px;
        width: 100%;
        height: auto;
    }
    
    .manageinfo2{
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -40px;
        width: 100%;
        height: auto;
    }
    
    .bloque{
        display: flex;
        flex-direction: row;
    }
    
    .bloqueusuario{
        display: flex;
    }
    section{
        width: 100%;
        padding: 0;
        margin-top: -40px;
        margin-left: 0px;
        order:2;
    }
    
    .bloq-sup-post{
        margin: auto;
        margin-left: 1%;
        margin-bottom: 5px;
    }
    
    .post{
        width: 98%;
        margin: auto;
        margin-top: 15px;
    }
    
    .post-body{
        margin: auto;
        width: 94%;
    }
    .archivos-box{
        margin: auto;
        width: 94%;
    }
    
    .div-foto{
        width: 40px;
        height: 40px;
        
    }
    
    .div-foto img{
        width: 70px;
    }
    
    .nombre-poster{
        margin-left: 10px;
        height: 40px;
        line-height: 40px;
    }
    
    .fotoprincipal{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    .fotoprincipal img{
        width: 60px;
        height: auto;
    }
    
    .userinfo{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
    }
    .links-top{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }
    
    .links-top a{
        margin-right: 5px;
    }

    .searchm{
        padding-top: 15px;
    }
    
    .posttitle{
        font-size: 14px;
    }
    
    .usuario-nombre{
        margin-top: 15px;
        font-size: 14px;
        line-height: 30px;
        margin-left: 10px;
    }
    
    .linksm{
        display: flex;
        font-family: "Oxygen-Light";
        margin-top: 5px;
        margin-left: 10px;
    }
    
    
    
    .linksm div{
        padding-top: -20px;
        margin-top: -10px;
        margin-right: 10px;
        padding-left: 10px;
    }
    
    .linksm div a{
        color: #444444;
        text-decoration: none;
        font-size: 14px;
        transition: all 0.2s ease 0s;
    }

    .linksm div a:hover{
        transition: all 0.2s ease 0s;
        color: white;
    }

    .linksm div a span{
        font-family: 'HeydingsIcons-Regular';
        font-size: 28px;
        margin-right: 5px;
    }
    
    .postbox form textarea{
        width: 95%;
    }
    
    .postbox form div{
        width: 96.5%;
    }
    
    .enviar{
        width: 97%;
    }
    
    
    .linksm{
        line-height: 5px;
    }

    .linksm div{
        margin: auto;
        padding-top: 0px;
        margin-right: 10px;
    }
    
    .notificaciones-toggle{
        color: #444444;
        font-size: 14px;
        transition: all 0.2s ease 0s;
    }
    
    .notificaciones-toggle:hover{
        color: white;
        cursor: pointer;
        transition: all 0.2s ease 0s;
    }
    
    .notificaciones-toggle span{
        font-family: 'HeydingsIcons-Regular';
        font-size: 30px;
        margin-right: 5px;
    }
    
    .texto-not span{
        margin-right: 2px;
    }
    
    .searchm{
        display: flex;
        margin: auto;
        margin-top: -15px;
    }
}

@media (max-width: 950px){
    
    .titulo-estandar{
        font-size: 20px;
    }
    
    .siguiendo{
        margin-right: -50px;
    }
    
    .searchm{
        margin-top: 0px;
    }
    .div-seguir{
        min-width: 200px;
    }
    .post-body{
        margin: auto;
        width: 85%;
    }
    .archivos-box{
        margin: auto;
        width: 85%;
    }
    
    .postbox form textarea{
        width: 92%;
    }
    
    .postbox form div{
        width: 94%;
    }
    
    .bloque{
        flex-direction: column;
    }
    
    .fotoprincipal{
        margin: auto;
        margin-right: 0px;
        margin-top: 10px;
    }
    .userinfo{
        margin: auto;
        margin-top: 10px;   
    }
    .linksm div{
        margin: auto;
        margin-top: 10px;
    }
}

@media (max-width: 450px){
    
    .postbox form div{
        width: 95%;
    }
    
    .posttitle{
        font-size: 15px;
    }
    
    .userinfo{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    .links-top{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .siguiendo{
        margin: auto;
    }
}
